# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  auth_providers:
    - type: homeassistant
  auth_mfa_modules:
    - type: totp
  name: "Chez Zoé et Yanek"
  latitude: 47.4005
  longitude: -2.15012
  elevation: 20
  unit_system: metric
  temperature_unit: C
  currency: EUR
  country: FR
  time_zone: "Europe/Paris"
  external_url: "https://hass.yanck.ovh"
  internal_url: "https://hass.yanck.ovh"

automation: !include automations.yaml
#automation sdb bas: !include automation_sdb_bas.yaml
#automation general: !include automation_general.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

http:
  use_x_forwarded_for: true
  # You must set the trusted proxy IP address so that Home Assistant will properly accept connections
  # Set this to your NGINX machine IP, or localhost if hosted on the same machine.
  trusted_proxies: 10.5.0.3
  ip_ban_enabled: true
  login_attempts_threshold: 5
  cors_allowed_origins: https://hass.yanck.ovh

device_tracker:
  - platform: luci
    host: 192.168.2.1
    username: !secret openwrt_user
    password: !secret openwrt_pwd

climate:
  - platform: generic_thermostat
    name: Général
    unique_id: generic_thermostat_general
    heater: switch.shellyplus1_pac_switch_0
    target_sensor: sensor.air_quality_monitor_ikea_temperature
    min_temp: 15
    max_temp: 25
    ac_mode: false
    target_temp: 21
    cold_tolerance: 0
    hot_tolerance: 0
    min_cycle_duration :
      minutes: 15
    away_temp: 18
    precision: 0.5

# Example configuration.yaml entry
command_line:
  - sensor:
      name: DNS resolution time
      command: "dig +retries=1 force.com | grep -A 100 'ANSWER SECTION:' | grep -Po '(?<=Query time: )[0-9a]*' || echo '-10'"
      unit_of_measurement: "mS"

schedule:
  heures_creuses:
    name: "Heures creuses"
    monday:
      - from: "02:26:00"
        to: "07:56:00"
      - from: "14:26:00"
        to: "16:56:00"
    tuesday:
      - from: "02:26:00"
        to: "07:56:00"
      - from: "14:26:00"
        to: "16:56:00"
    wednesday:
      - from: "02:26:00"
        to: "07:56:00"
      - from: "14:26:00"
        to: "16:56:00"
    thursday:
      - from: "02:26:00"
        to: "07:56:00"
      - from: "14:26:00"
        to: "16:56:00"
    friday:
      - from: "02:26:00"
        to: "07:56:00"
      - from: "14:26:00"
        to: "16:56:00"
    saturday:
      - from: "02:26:00"
        to: "07:56:00"
      - from: "14:26:00"
        to: "16:56:00"
    sunday:
      - from: "02:26:00"
        to: "07:56:00"
      - from: "14:26:00"
        to: "16:56:00"